.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    &__start{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
        padding: 15px 10px;
        border-radius: 5px;
        color: white;
        background-color: #8b5a2b;
        transition: all 0.5s ease;
        a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            font-size: 30px;
            transition: all 0.5s ease;
        }
    }
    &__next{
        display: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        padding: 15px 10px;
        border-radius: 5px;
        border: 1px solid ghostwhite;
        background-color: gray;
        transition: all 0.5s ease;
        a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            font-size: 35px;
            transition: all 0.5s ease;
        }
    }
    &__try{
        margin-top: 25px;
        padding: 5px 10px;
        font-size: 25px;
        border-radius: 5px;
        border: 1px solid #c47e3d;
        background-color: #c47e3d;
        color: white;
        transition: all 0.5s ease;
        &:hover{
            transform: scale(1.1);
            transition: all 0.5s ease;
        }
    }
    &__close{
        position: absolute;
        top: 5%;
        right: 5%;
        &::before{
            display: block;
            content: '';
            height: 21px;
            width: 2px;
            background-color: white;
            transform: rotate(-45deg);
        }
        &::after{
            position: absolute;
            top: 0;
            display: block;
            content: '';
            height: 21px;
            width: 2px;
            background-color: white;
            transform: rotate(45deg);
        }
    }
}