@font-face {
    font-family: 'CustomFontTtf';
    src: local('CustomFontTtf16H10'),
        url('../../fonts/CustomFontTtf16H10.woff2') format('woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'CustomFontTtf';
    src: local('CustomFontTtf16H20'),
        url('../../fonts/CustomFontTtf16H20.woff2') format('woff2');
    font-weight: 500;
}
@font-face {
    font-family: 'CustomFontTtf';
    src: local('CustomFontTtf16H30'),
        url('../../fonts/CustomFontTtf16H30.woff2') format('woff2');
    font-weight: 600;
}