.game{
    display: none;
    height: 100vh;
    background-image: url('../../img/game/maxresdefault.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    &__content{
        display: none;
        position: relative;
    }
    &__canvas{
        padding: 60px 0;
    }
    &__health{
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 15px;
        top: 80px;
        &-person{
            height: 30px;
            width: 100%;
            background-color: red;
            &:nth-child(1){
                display: flex;
                justify-content: flex-end;
            }
            &-bg{
                height: 30px;
                width: 100%;
                background-color: aqua;
            }
        }
    }
    &__timer{
        padding-top: 10px;
        text-align: center;
        width: 100px;
        height: 40px;
        background-color: red;
    }
    &__end{
        display: none;
        position: absolute;
        top: -50%;
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 350px;
        height: 150px;
        border: 1px solid #8b5a2b;
        background-color: #8b5a2b;
        border-radius: 15px;
        &-text{
            padding-top: 15px;
            font-size: 36px;
            color: white;
        }
    }
    &__control{
        &-info{
            cursor: pointer;
            font-size: 36px;
            width: 50px;
            margin: 0 auto;
            color: white;
        }
        &-block{
            flex-wrap: wrap;
            display: none;
            position: absolute;
            justify-content: center;
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
            width: 630px;
            border-radius: 15px;
            border: 1px solid brown;
            background-color: brown;
        }
        &-person{
            text-align: left;
            padding: 50px;
        }
        &-text{
            font-size: 25px;
            color: white;
        }
        &-list-item{
            list-style: none;
            font-size: 20px;
            color: white;
        }
        &-language{
            font-size: 18px;
            padding-bottom: 15px;
            color: white;
        }
    }
}