*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.container{
    max-width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
}
@import './blocks/button';


@import './blocks/header';
@import './blocks/person';
@import './blocks/game';